---
import Testimonial from "../avalara-vs-galvix/testimonial";
import WhyGalvix from "../avalara-vs-galvix/whyGalvix.astro";


---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center mb-10">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Get rid of complex filing platforms and pathetic customer support. 
        </h2>
        <p class="mt-4 text-md leading-8 text-gray-600">
            And prevent filing inaccuracies that expose your business to penalties and notices from the States.
        </p>
      </div>
      <div>
        <div class="space-y-8">
        <div class="flex gap-x-4  max-md:flex-col">
            <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center">
                <div class="flex flex-col flex-grow justify-center px-12 py-10 bg-white rounded-3xl border border-gray-100 border-solid max-w-[389px] items-center text-center">
                  <div class=" text-xl font-bold leading-7 text-gray-900">
                    Hire a return filing service obsessed with accuracy.
                  </div>
                  <div class="mt-3 text-base leading-6 text-gray-600">
                    Say goodbye to oversight and errors in your monthly sales tax returns.
                  </div>
                </div>
              </div>
              
            <div class="flex flex-col   max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col  justify-center items-start w-full rounded-3xl  max-md:mt-4 max-md:max-w-full"
              >
                <img
                  loading="lazy"
                  srcset="/images/homepage/img1.svg"
                  class="max-w-full  "
                />
              </div>
            </div>
          </div>
          <div class="flex gap-x-4  max-md:flex-col lg:flex-row-reverse">
            <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center">
                <div class="flex flex-col flex-grow justify-center px-12 py-10 bg-white rounded-3xl border border-gray-100 border-solid max-w-[389px] items-center text-center">
                  <div class=" text-xl font-bold leading-7 text-gray-900">
                    Get hold of experts who can help you fix filing issues.
                  </div>
                  <div class="mt-3 text-base leading-6 text-gray-600">
                    Get prompt help on sales tax compliance, instead of going in circles over email trails.
                  </div>
                </div>
              </div>
              
            <div class="flex flex-col   max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col  justify-center items-start w-full rounded-3xl  max-md:mt-4 max-md:max-w-full"
              >
                <img
                  loading="lazy"
                  srcset="/images/homepage/img2.svg"
                  class="max-w-full  "
                />
              </div>
            </div>
          </div>
         


          <div class="flex gap-x-4 max-md:flex-col">
            <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center">
                <div class="flex flex-col flex-grow justify-center px-12 py-10 bg-white rounded-3xl border border-gray-100 border-solid max-w-[389px] items-center text-center">
                  <div class=" text-xl font-bold leading-7 text-gray-900">
                    Pick software that doesn’t need a manual to operate.
                  </div>
                  <div class="mt-3 text-base leading-6 text-gray-600">
                    View monthly sales tax details and action items neatly organized and clearly explained.
                  </div>
                </div>
              </div>
              
            <div class="flex flex-col   max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col  justify-center items-start w-full rounded-3xl  max-md:mt-4 max-md:max-w-full"
              >
                <img
                  loading="lazy"
                  srcset="/images/homepage/img3.svg"
                  class="max-w-full  "
                />
              </div>
            </div>
          </div>
          </div>
      </div>
      
    </div>
  </div>
</div>

<div class="bg-white pb-24 sm:pb-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center mb-10">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            File accurate sales tax returns.
          </h2>
          <p class="mt-4 text-md leading-8 text-gray-600">
            And have a compliance expert and troubleshooter at your beck and call.
          </p>
        </div>
        <div>
          <div class="space-y-8">
            <div class="flex gap-4 max-md:flex-col">
                <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center flex-1">
                  <div class="flex flex-col max-w-[584px] w-full">
                    <div class="w-full text-2xl font-bold leading-8 text-gray-900 max-md:max-w-full">
                      Reconcile tax liability
                    </div>
                    <div class="mt-4 w-full text-lg leading-7 text-gray-600 max-md:max-w-full">
                      Calculate your tax liabilities accurately, instead of going blindly by your sales invoices.
                    </div>
                  </div>
                </div>
                
                <div class="flex flex-col max-md:ml-0 max-md:w-full flex-1">
                  <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full">
                    <img loading="lazy" srcset="/images/homepage/img4.svg" class="max-w-full" />
                  </div>
                </div>
              </div>

              <div class="flex gap-4 max-md:flex-col lg:flex-row-reverse">
                <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center flex-1">
                  <div class="flex flex-col max-w-[584px] w-full">
                    <div class="w-full text-2xl font-bold leading-8 text-gray-900 max-md:max-w-full">
                      Flag discrepancies
                    </div>
                    <div class="mt-4 w-full text-lg leading-7 text-gray-600 max-md:max-w-full">
                      Identify and fix sales invoices with under or over-collected taxes or products with missing tax codes or addresses.
                    </div>
                  </div>
                </div>
                
                <div class="flex flex-col max-md:ml-0 max-md:w-full flex-1">
                  <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full">
                    <img loading="lazy" srcset="/images/homepage/img5.svg" class="max-w-full" />
                  </div>
                </div>
              </div>
              
            

              <div class="flex gap-4 max-md:flex-col">
                <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center flex-1">
                  <div class="flex flex-col max-w-[584px] w-full">
                    <div class="w-full text-2xl font-bold leading-8 text-gray-900 max-md:max-w-full">
                        Get hands-on support
                    </div>
                    <div class="mt-4 w-full text-lg leading-7 text-gray-600 max-md:max-w-full">
                        Talk directly with sales tax experts to fix filing issues or to find answers to your sales tax questions.
                    </div>
                  </div>
                </div>
                
                <div class="flex flex-col max-md:ml-0 max-md:w-full flex-1">
                  <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full">
                    <img loading="lazy" srcset="/images/homepage/img6.svg" class="max-w-full" />
                  </div>
                </div>
              </div>

              <div class="flex gap-4 max-md:flex-col lg:flex-row-reverse">
                <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center flex-1">
                  <div class="flex flex-col max-w-[584px] w-full">
                    <div class="w-full text-2xl font-bold leading-8 text-gray-900 max-md:max-w-full">
                      Claim tax deductions
                    </div>
                    <div class="mt-4 w-full text-lg leading-7 text-gray-600 max-md:max-w-full">
                      Automatically adjust your tax liability against available deductions (credits, prepayment, etc.)
                    </div>
                  </div>
                </div>
                
                <div class="flex flex-col max-md:ml-0 max-md:w-full flex-1">
                  <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full">
                    <img loading="lazy" srcset="/images/homepage/img7.svg" class="max-w-full" />
                  </div>
                </div>
              </div>
            
              <div class="flex gap-4 max-md:flex-col">
                <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center flex-1">
                  <div class="flex flex-col max-w-[584px] w-full">
                    <div class="w-full text-2xl font-bold leading-8 text-gray-900 max-md:max-w-full">
                        Keep filing summary handy
                    </div>
                    <div class="mt-4 w-full text-lg leading-7 text-gray-600 max-md:max-w-full">
                        See your monthly filing summary for each state, with detailed tax calculations and breakdowns.
                    </div>
                  </div>
                </div>
                
                <div class="flex flex-col max-md:ml-0 max-md:w-full flex-1">
                  <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full">
                    <img loading="lazy" srcset="/images/homepage/img8.svg" class="max-w-full" />
                  </div>
                </div>
              </div>

              <div class="flex gap-4 max-md:flex-col lg:flex-row-reverse">
                <div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center flex-1">
                  <div class="flex flex-col max-w-[584px] w-full">
                    <div class="w-full text-2xl font-bold leading-8 text-gray-900 max-md:max-w-full">
                      Update your tax details easily
                    </div>
                    <div class="mt-4 w-full text-lg leading-7 text-gray-600 max-md:max-w-full">
                      Enter your business address, product details, or nexus information without technical skills or help.
                    </div>
                  </div>
                </div>
                
                <div class="flex flex-col max-md:ml-0 max-md:w-full flex-1">
                  <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full">
                    <img loading="lazy" srcset="/images/homepage/img9.svg" class="max-w-full" />
                  </div>
                </div>
              </div>
            
             
            </div>
        </div>
        
      </div>
    </div>
  </div>
  <WhyGalvix/>

  <div class="bg-white py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center mb-10">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Use Galvix for end-to-end sales tax compliance.
          </h2>
          
        </div>
        <div>
         
        </div>
        
      </div>
      <div class="flex flex-col max-md:ml-0 max-md:w-full flex-1 space-y-4">
        <div class="overflow-hidden bg-gray-900 border-solid border-gray-100 rounded-2xl pt-8 px-8">
          <div class="mx-auto max-w-7xl ">
            <div class="  sm:mx-8 mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="m-auto sm:pl-8 ">
                <div class="lg:max-w-lg sm:pt-12  lg:pt-0">
                  <p class="w-full text-3xl font-bold leading-9 text-white max-md:max-w-full">Real-time nexus tracker</p>
                  <p class="mt-4 w-full text-lg leading-7 text-gray-100 max-md:max-w-full">Identify the states where you are approaching economic or physical nexus,
                    along with supporting details.</p>
                  
                </div>
              </div>
              
              <img loading="lazy" srcset="/images/homepage/img10.svg" class="w-[48rem] mx-auto lg:pt-12 sm:w-[35rem]  "  />
            </div>
          </div>
        </div>
        <div class="overflow-hidden bg-gray-900 border-solid border-gray-100 rounded-2xl pt-8 px-8">
          <div class="mx-auto max-w-7xl ">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="m-auto sm:pl-8 ">
                <div class="lg:max-w-lg sm:pt-12 lg:pt-0">
                  <p class="w-full text-3xl font-bold leading-9 text-white max-md:max-w-full">State tax registrations</p>
                  <p class="mt-4 w-full text-lg leading-7 text-gray-100 max-md:max-w-full">Register your business with any state for collecting and filing taxes, and get your sales tax account setup, all with a single click.</p>
                  
                </div>
              </div>
              
              <img loading="lazy" srcset="/images/homepage/img11.svg" class="w-[48rem] mx-auto lg:pt-12 sm:w-[17rem]  "  />
            </div>
          </div>
        </div>
        <div class="overflow-hidden bg-gray-900 border-solid border-gray-100 rounded-2xl pt-8 px-8">
          <div class="mx-auto max-w-7xl ">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="m-auto sm:pl-8 ">
                <div class="lg:max-w-lg sm:pt-12 lg:pt-0">
                  <p class="w-full text-3xl font-bold leading-9 text-white max-md:max-w-full">Tax engine</p>
                  <p class="mt-4 w-full text-lg leading-7 text-gray-100 max-md:max-w-full">Add and collect the right amount of tax when generating sales invoices from your billing systems and apps.</p>
                  
                </div>
              </div>
              
              <img loading="lazy" srcset="/images/homepage/img12.svg" class="w-[48rem] mx-auto lg:pt-12 sm:w-[30rem]  "  />
            </div>
          </div>
        </div>
       
      </div>
     
    </div>
  </div>

  <div class="bg-white pb-24 sm:pb-32 mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center mb-10">
        <h2 class="text-3xl font-bold tracking-tight lg:text-gray-900 sm:text-4xl">
          Use Galvix for end-to-end sales tax compliance.
        </h2>
        
      </div>
      <div>
        <Testimonial/>
      </div>
      
    </div>
    
  </div>
  