

  <div class="mx-auto lg:max-w-7xl  ">
     <span class="text-gray-600 text-md flex justify-center text-center pb-10 px-6">
    Accountants and business owners like you have switched from Avalara
    to Galvix for their monthly sales tax filing
  </span>
  <div class=" mt-2 lg:max-w-7xl  ">
   
    <div class="grid grid-cols-4 px-6 items-top my-auto gap-y-10 sm:grid-cols-4 lg:grid-cols-7 lg:gap-x-8 ">
      
      <img class="col-span-1  object-contain self-start" src="/images/avalara-vs-galvix/layer1.svg" alt="Layer 1">
      <img class="col-span-1 m-auto object-contain self-start" src="/images/avalara-vs-galvix/infromed_slp.svg" alt="Informed SL" width="600">
      <img class="col-span-1 m-auto  object-contain self-start" src="/images/avalara-vs-galvix/Layer_3.svg" alt="Layer 3">
      <img class="col-span-1 m-auto object-contain my-auto self-start mb-[16px]" src="/images/avalara-vs-galvix/Layer_4.svg" alt="Layer 4">
      
      
      <div class="col-span-4 flex justify-center lg:hidden  px-6">
        <img class="max-h-8 m-auto object-contain self-start" src="/images/avalara-vs-galvix/layer_5.svg" alt="Layer 5">
        <img class="max-h-8 m-auto object-contain self-start" src="/images/avalara-vs-galvix/layer_6.svg" alt="Layer 6">
        <img class="max-h-8 m-auto object-contain self-start" src="/images/avalara-vs-galvix/layer_7.svg" alt="Layer 7">
      </div>
  
      
      <img class="col-span-1 m-auto object-contain self-start lg:block hidden" src="/images/avalara-vs-galvix/layer_5.svg" alt="Layer 5">
      <img class="col-span-1 m-auto object-contain self-start lg:block hidden" src="/images/avalara-vs-galvix/layer_6.svg" alt="Layer 6">
      <img class="col-span-1 m-auto object-contain self-start lg:block hidden" src="/images/avalara-vs-galvix/layer_7.svg" alt="Layer 7">
    </div>
  </div>
  

