---
import { BuildingStorefrontIcon, ComputerDesktopIcon, CurrencyDollarIcon, UserGroupIcon } from "@heroicons/react/24/outline";


---

<div class="bg-white ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Know why using Galvix for sales tax filing is so different.
          </h2>
        </div>
        <dl
          class="mt-10 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4"
        >
          <div class="flex flex-col bg-gray-400/5 p-8">
            <div
              class="flex justify-center items-center self-center px-2 w-10 h-10 bg-white rounded shadow-lg"
            >
              <BuildingStorefrontIcon className="w-full aspect-square" />
            </div>
            <div
              class="mt-6 text-xl font-semibold leading-7 text-center text-gray-900"
            >
              Young startup
            </div>
            <div class="mt-2 text-sm leading-5 text-center text-gray-600">
              Not a 20-year-old monopoly
            </div>
          </div>
          <div class="flex flex-col bg-gray-400/5 p-8">
            <div
              class="flex justify-center items-center self-center px-2 w-10 h-10 bg-white rounded shadow-lg"
            >
              <ComputerDesktopIcon className="w-full aspect-square" />
            </div>
            <div
              class="mt-6 text-xl font-semibold leading-7 text-center text-gray-900"
            >
              Homegrown software
            </div>
            <div class="mt-2 text-sm leading-5 text-center text-gray-600">
              Driven to solve the pain of tax filing
            </div>
          </div>
          <div class="flex flex-col bg-gray-400/5 p-8">
            <div
              class="flex justify-center items-center self-center px-2 w-10 h-10 bg-white rounded shadow-lg"
            >
              <UserGroupIcon className="w-full aspect-square" />
            </div>
            <div
              class="mt-6 text-xl font-semibold leading-7 text-center text-gray-900"
            >
              Fully involved founders
            </div>
            <div class="mt-2 text-sm leading-5 text-center text-gray-600">
              Guided by customer (not investor) interests
            </div>
          </div>
          <div class="flex flex-col bg-gray-400/5 p-8">
            <div
              class="flex justify-center items-center self-center px-2 w-10 h-10 bg-white rounded shadow-lg"
            >
              <CurrencyDollarIcon className="w-full aspect-square" />
            </div>
            <div
              class="mt-6 text-xl font-semibold leading-7 text-center text-gray-900"
            >
              Bootstrapped business
            </div>
            <div class="mt-2 text-sm leading-5 text-center text-gray-600">
              Not 10 different apps force-stitched
            </div>
          </div>
        </dl>
      </div>
    </div>
  </div>