<div id="problem" class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div>
          <h2 class="text-base font-semibold leading-7 text-indigo-600">PROBLEM</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sales tax return preparation & filing is time-consuming and error-prone</p>
          <p class="mt-6 text-base leading-7 text-gray-600">As a growing business, you must collect, report, and remit sales tax across multiple states where you have customers or physical presence. Delays or errors in return filing and remittances can lead to audits, back taxes, interests, and penalties.</p>
        </div>
        <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-0 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4.75541 10.0589C5.82748 6.0579 9.94 3.68353 13.941 4.75559C15.262 5.10955 16.4038 5.79374 17.3036 6.69528L19.2067 8.59835H16.023C15.6088 8.59835 15.273 8.93414 15.273 9.34835C15.273 9.76256 15.6088 10.0984 16.023 10.0984H21.0156C21.2145 10.0984 21.4053 10.0193 21.546 9.87864C21.6866 9.73797 21.7656 9.54717 21.7656 9.34824V4.35575C21.7656 3.94153 21.4298 3.60575 21.0156 3.60575C20.6014 3.60575 20.2656 3.94153 20.2656 4.35575V7.53591L18.3653 5.63561C17.2841 4.55253 15.9116 3.73071 14.3292 3.3067C9.52803 2.02023 4.593 4.86947 3.30653 9.67067C3.19932 10.0708 3.43676 10.482 3.83686 10.5892C4.23696 10.6964 4.64821 10.459 4.75541 10.0589ZM20.1629 13.4108C19.7628 13.3036 19.3515 13.5411 19.2443 13.9412C18.1722 17.9422 14.0597 20.3165 10.0587 19.2445C8.73774 18.8905 7.59594 18.2063 6.69609 17.3048L4.7942 15.4017H7.97702C8.39123 15.4017 8.72702 15.0659 8.72702 14.6517C8.72702 14.2375 8.39123 13.9017 7.97702 13.9017L2.98438 13.9017C2.57016 13.9017 2.23438 14.2375 2.23438 14.6517V19.6443C2.23438 20.0585 2.57016 20.3943 2.98438 20.3943C3.39859 20.3943 3.73438 20.0585 3.73438 19.6443V16.4632L5.63444 18.3645C6.71564 19.4477 8.08796 20.2693 9.67048 20.6934C14.4717 21.9798 19.4067 19.1306 20.6932 14.3294C20.8004 13.9293 20.563 13.5181 20.1629 13.4108Z" clip-rule="evenodd" />
              </svg>
              Varying requirements for each state
            </dt>
            <dd class="mt-2">Rerum repellat labore necessitatibus reprehenderit molestiae praesentium.</dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-0 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12 2.25C6.61522 2.25 2.25 6.61522 2.25 12C2.25 17.3848 6.61522 21.75 12 21.75C17.3848 21.75 21.75 17.3848 21.75 12C21.75 6.61522 17.3848 2.25 12 2.25ZM12.75 6C12.75 5.58579 12.4142 5.25 12 5.25C11.5858 5.25 11.25 5.58579 11.25 6V12C11.25 12.4142 11.5858 12.75 12 12.75H16.5C16.9142 12.75 17.25 12.4142 17.25 12C17.25 11.5858 16.9142 11.25 16.5 11.25H12.75V6Z" clip-rule="evenodd" />
              </svg>
              Time-consuming filing process
            </dt>
            <dd class="mt-2">Corporis asperiores ea nulla temporibus asperiores non tempore assumenda aut.</dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-0 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M9.40136 3.0034C10.5558 1.00229 13.444 1.00229 14.5985 3.0034L21.9528 15.7509C23.1066 17.7509 21.6632 20.2501 19.3542 20.2501H4.64559C2.33661 20.2501 0.893183 17.7509 2.04703 15.7509L9.40136 3.0034ZM12.0001 8.25C12.4143 8.25 12.7501 8.58579 12.7501 9V12.75C12.7501 13.1642 12.4143 13.5 12.0001 13.5C11.5859 13.5 11.2501 13.1642 11.2501 12.75V9C11.2501 8.58579 11.5859 8.25 12.0001 8.25ZM12.0001 16.5C12.4143 16.5 12.7501 16.1642 12.7501 15.75C12.7501 15.3358 12.4143 15 12.0001 15C11.5859 15 11.2501 15.3358 11.2501 15.75C11.2501 16.1642 11.5859 16.5 12.0001 16.5Z" clip-rule="evenodd" />
              </svg>
              Confusing and error-prone
            </dt>
            <dd class="mt-2">In sit qui aliquid deleniti et. Ad nobis sunt omnis. Quo sapiente dicta laboriosam.</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  