<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-5xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600">HOW IT WORKS</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Put sales tax return filing on autopilot in 3 easy steps</p>
      </div>

    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
            <div class="flex flex-col">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path d="M7.5 21L3 16.5M3 16.5L7.5 12M3 16.5H16.5M16.5 3L21 7.5M21 7.5L16.5 12M21 7.5L7.5 7.5" stroke="#F9FAFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <h3 class="text-base font-semibold leading-7 text-gray-400">Step 1</h3>
                  Connect your billing system
                </dt>
                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">Galvix provides out-of-the-box integrations with popular accounting, billing and e-commerce softwares like Quickbooks, Stripe, Xero, Shopify and others. This allows us to automatically sync your invoice or order data for preparing your tax returns.</p>
                </dd>
            </div>
            <div class="flex flex-col">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path d="M9 6.75002V15M15 9.00002V17.25M15.5031 20.7485L20.3781 18.311C20.7592 18.1204 21 17.7309 21 17.3047V4.82031C21 3.98401 20.1199 3.44007 19.3719 3.81408L15.5031 5.74847C15.1864 5.90683 14.8136 5.90683 14.4969 5.74847L9.50312 3.25158C9.1864 3.09322 8.8136 3.09322 8.49688 3.25158L3.62188 5.68908C3.24075 5.87965 3 6.26919 3 6.69531V19.1797C3 20.016 3.8801 20.56 4.62811 20.186L8.49688 18.2516C8.8136 18.0932 9.1864 18.0932 9.50312 18.2516L14.4969 20.7485C14.8136 20.9068 15.1864 20.9068 15.5031 20.7485Z" stroke="#F9FAFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <h3 class="text-base font-semibold leading-7 text-gray-400">Step 2</h3>
                  Tell us where you are registered to collect sales tax
                </dt>
                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">For each state, we setup details like your existing tax registration number, filing frequency, etc.</p>
                </dd>
            </div>
            <div class="flex flex-col">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path d="M19.5 14.25V11.625C19.5 9.76104 17.989 8.25 16.125 8.25H14.625C14.0037 8.25 13.5 7.74632 13.5 7.125V5.625C13.5 3.76104 11.989 2.25 10.125 2.25H8.25M8.25 15H15.75M8.25 18H12M10.5 2.25H5.625C5.00368 2.25 4.5 2.75368 4.5 3.375V20.625C4.5 21.2463 5.00368 21.75 5.625 21.75H18.375C18.9963 21.75 19.5 21.2463 19.5 20.625V11.25C19.5 6.27944 15.4706 2.25 10.5 2.25Z" stroke="#F9FAFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <h3 class="text-base font-semibold leading-7 text-gray-400">Step 3</h3>
                  Review & approve returns
                </dt>
                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">We prepare the draft returns and share them for your review and approval by 5th of every month. Once we get your approval (latest by 10th), we go ahead and file your tax returns, while uploading copies of the acknowledgements and any other documentation to your online account.</p>
                </dd>
            </div>
        </dl>
    </div>


    </div>
</div>
