<p class="mt-8 text-base font-semibold text-white sm:mt-10">Used by</p>
<div class="mt-5 w-full sm:mx-auto sm:max-w-lg lg:ml-0">
    <div class="flex flex-wrap items-start justify-between">
    <div class="flex justify-center px-1">
        <img class="h-9 sm:h-10" src="/images/client-logos/zluri-logo-white.svg" alt="Zluri">
    </div>
    <div class="flex justify-center px-1">
        <img class="h-9 sm:h-10" src="/images/client-logos/optiwise-logo-white.svg" alt="Optiwise.ai">
    </div>
    <div class="flex justify-center px-1">
        <img class="h-9 sm:h-10" src="/images/client-logos/scalenut-logo-white.svg" alt="Scalenut">
    </div>
    </div>
</div>