<div>
    <div class="mx-auto max-w-7xl py-4 sm:px-6 sm:py-4 lg:px-8">
      <div class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16">
        <h2 class="mx-auto max-w-5xl text-3xl font-bold tracking-tight text-white sm:text-4xl">Let Galvix handle sales tax for you</h2>
        <p class="mx-auto mt-6 max-w-3xl text-lg leading-8 text-gray-300">Galvix provides an end-to-end sales tax management service, including nexus monitoring, tax calculations, and return filing, giving you the confidence and time to focus on what matters - your business.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/?utm_source=cta-block-seo-pages" id="link-get-started-footer-cta" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Know More about Galvix</a>
        </div>
        <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
          <circle cx="512" cy="512" r="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.7" />
          <defs>
            <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
              <stop stop-color="#7775D6" />
              <stop offset="1" stop-color="#E935C1" />
            </radialGradient>
          </defs>
        </svg>
      </div>
    </div>
</div>