<div class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="relative text-white pb-24">
        <h2 class="text-center text-3xl font-bold leading-8 tracking-tight sm:text-4xl">Loved by Business Owners, CFOs, and Accountants</h2>
        <p class="mx-auto mt-4 max-w-3xl text-center text-xl">Galvix customers never have to touch sales tax again</p>
      </div>
      <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
          <img class="h-12 self-start" src="/images/client-logos/optiwise-logo-white.svg" alt="Optiwise logo">
          <figure class="mt-10 flex flex-auto flex-col justify-between">
            <blockquote class="text-lg leading-8 text-white">
              <p>“I used to invest a significant amount of time each month, and reaching customer support of my previous sales tax service was nearly impossible. Galvix simplifies the identification and understanding of tax laws. With Galvix, the registration and management processes are handled on your behalf, taking away the stress from my plate.”</p>
            </blockquote>
            <figcaption class="mt-10 flex items-center gap-x-6">
              <img class="h-14 w-14 rounded-full bg-gray-800" src="/images/client-logos/deepak-goyal-optiwise.png" alt="">
              <div class="text-base">
                <div class="font-semibold text-white">Deepak Goyal</div>
                <div class="mt-1 text-gray-400">CEO of Optiwise.ai</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="flex flex-col border-t border-white/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20">
          <img class="h-12 self-start" src="/images/client-logos/scalenut-logo-white.svg" alt="Scalenut logo">
          <figure class="mt-10 flex flex-auto flex-col justify-between">
            <blockquote class="text-lg leading-8 text-white">
              <p>“We encountered numerous challenges with other sales tax providers, including late filings leading to penalties, inaccurate tax filings resulting in extra payments in taxes, and a lack of customer support. Galvix, on the other hand, facilitated seamless onboarding, offered prompt and responsive customer service and implemented new features based on our feedback.”</p>
            </blockquote>
            <figcaption class="mt-10 flex items-center gap-x-6">
              <img class="h-14 w-14 rounded-full bg-gray-800" src="/images/client-logos/mayank-jain-scalenut.jpeg" alt="">
              <div class="text-base">
                <div class="font-semibold text-white">Mayank Jain</div>
                <div class="mt-1 text-gray-400">CEO of Scalenut</div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
</div>