---
import BaseLayout from "../layouts/BaseLayout.astro";
import stepsData from "../components/avalara-vs-galvix/stepData.json";
import FAQ from "../components/managed-returns/FAQ";
import { faqsAvalaraAndGalvix } from "../data/faqs";
import StepsComponent from "../components/avalara-vs-galvix/stepComponent.astro";
import Comparison from '../components/avalara-vs-galvix/comparison.astro'
import Comparison2 from '../components/avalara-vs-galvix/comparison2.astro'
import Header from '../components/avalara-vs-galvix/header.astro'
import CompanyLogos from '../components/avalara-vs-galvix/companylogos.astro'
import WhyGalvix from '../components/avalara-vs-galvix/whyGalvix.astro'
import FooterCard from '../components/avalara-vs-galvix/footerCard.astro'
---

<BaseLayout>
  <div class="bg-white ">
    <div class="bg-white">
      <!-- Header -->

      <main class="isolate overflow-hidden">
        <!-- Hero section -->
       <Header/>

        <!-- Componay logo -->
         <div class="pt-8 lg:pt-24"> <CompanyLogos/></div>
      

        <!-- comparison section -->
       <Comparison/>
        <Comparison2/>

        <!-- Know why galvix -->
       <WhyGalvix/>

        <!-- Switch to  galvix -->
        <div class="bg-white pt-24 ">
          <StepsComponent  />
        </div>

        <!-- FAQ -->
<div class="py-20"><FAQ client:visible faqs={faqsAvalaraAndGalvix} /></div>
        

        <!-- Ending card  -->

        <div class="px-6 lg:px-8"><FooterCard /></div>
      </main>

      <!-- Footer -->
    </div>
  </div>
</BaseLayout>
