---
import Img1Mobile from './images/img2-mob.svg'
---

<div class="space-y-10">
          
    <div class="flex  flex-col-reverse lg:flex-row gap-y-1">
<div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center mr-4">
 <div class="flex flex-col flex-grow justify-center px-12 py-10 bg-white rounded-2xl border border-gray-100 max-w-[389px] items-center text-center">
   <div class="text-xl font-bold leading-7 text-gray-900">
     Hire a return filing service obsessed with accuracy.
   </div>
   <div class="mt-3 text-base leading-6 text-gray-600">
     Say goodbye to oversight and errors in your monthly sales tax returns.
   </div>
 </div>
</div>
<div class="flex flex-col max-md:ml-0 max-md:w-full">
 <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full flex-grow">
   <img
     loading="lazy"
     src="/images/homepage/img1.svg"
     class="w-full h-full object-cover hidden lg:block"
     alt="Large Screen Image"
     width="2432" height="1442"
   />
   <img
     loading="lazy"
     src="/images/homepage/img1-mob.svg"
     class="w-full h-full object-cover block lg:hidden"
     alt="Mobile Screen Image"
     width="2432" height="1442"
   />
 </div>
 
</div>
</div>


<div class="flex  flex-col-reverse lg:flex-row-reverse gap-y-1 ">
<div class="flex flex-col max-md:ml-0 max-md:w-full items-center justify-center mx-4">
 <div class="flex flex-col flex-grow justify-center px-12 py-10 bg-white rounded-2xl border border-gray-100 max-w-[389px] items-center text-center">
   <div class="text-xl font-bold leading-7 text-gray-900">
     Get hold of experts who can help you fix filing issues.
   </div>
   <div class="mt-3 text-base leading-6 text-gray-600">
     Get prompt help on sales tax compliance, instead of going in circles over email trails.
   </div>
 </div>
</div>
<div class="flex flex-col max-md:ml-0 max-md:w-full">
 <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full flex-grow">
   <img
     loading="lazy"
     src="/images/homepage/img2.svg"
     class="w-full h-full object-cover hidden lg:block"
     alt="Large Screen Image"
     width="2432" height="1442"
   />
   <img
     loading="lazy"
     src="/images/homepage/img2-mob.svg"
     class="w-full h-full object-cover block lg:hidden"
     alt="Mobile Screen Image"
     width="2432" height="1442"
   />
 </div>
 
</div>
 
</div>
</div>

<div class="relative overflow-hidden pt-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <!-- <img src="https://tailwindui.com/img/component-images/project-app-screenshot.png" alt="App screenshot" class="mb-[-12%] rounded-xl shadow-2xl ring-1 ring-gray-900/10" width="2432" height="1442"> -->
      <img src="/images/managed-returns/galvix-managed-returns-features.svg" alt="Galvix Managed Returns Features" class="mb-[-12%] rounded-xl ring-gray-900/10" width="2432" height="1442">
      <div class="relative" aria-hidden="true">
        <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]"></div>
      </div>
    </div>
  </div>