---
import Hero from "../components/managed-returns/Hero.astro";
import FAQ from "../components/managed-returns/FAQ.jsx";
import CompanyLogos from "../components/avalara-vs-galvix/companylogos.astro";
import { faqsHomepage } from "../data/faqs.js";
import WhyGalvixCards from "../components/homepage/WhyGalvixCards.astro";
import Steps from "../components/homepage/Steps.astro";
import FooterCard from "../components/avalara-vs-galvix/footerCard.astro";
import Header from "../components/Header";

const pageTitle = "Galvix: Online Sales Tax Filing With Real Human Support";
const metaTitle = "Galvix: Online Sales Tax Filing With Real Human Support";
const metaDescription = "Galvix lets you offload the high cost and hassle of sales tax return preparation, filing, and remittance - with a 100% done-for-you service.";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
  <title>{pageTitle}</title>
  <meta name="title" content={metaTitle} />
  <meta name="description" content={metaDescription} />
</head>
<body>
  <div class="lg:max-w-7xl w-max-w-2xl">
    <Header />
    <Hero />
    <CompanyLogos />
    <WhyGalvixCards />
    <Steps />
    <div class="mt-24"><FAQ client:visible faqs={faqsHomepage} /></div>
    <div class="px-6 lg:px-12 py-24"><FooterCard /></div>
  </div>
</body>
</html>
