---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResourceListingItem from '../components/ResourceListingItem.astro';
const pageTitle = "Resources";
const allResources = await Astro.glob('./posts/*.md');
---
<BaseLayout title="Sales tax compliance resources by Galvix">
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Master sales tax compliance for your SaaS business</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Get ahead of the sales tax game with Galvix’s resources - crafted by tax experts for SaaS finance leaders.</p>
        <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
          {allResources.map((resource) => <ResourceListingItem 
            url = {resource.url}
            title = {resource.frontmatter.title} 
            pubDate = {resource.frontmatter.pubDate}
            />
          )}
        </div>
      </div>
    </div>
  </div>
</BaseLayout>