---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<!-- <div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div> -->
<!-- <div class="absolute top-0 z-[-2] h-screen w-screen rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]"></div> -->
<BaseLayout norobots>
    <div class="bg-white py-24 ">
        <div class="flex flex-col max-md:ml-0 max-md:w-full">
            <div class="flex flex-col justify-center items-start w-full rounded-3xl max-md:mt-4 max-md:max-w-full flex-grow">
                <img class="h-64 w-auto" src="/images/homepage/img1.svg"/>            
                <img class="h-98 w-auto" src="/images/homepage/img1.svg"/>            
            </div>
        </div>
    </div>
</BaseLayout>