---
import jurisdictions from "../data/jurisdictions.json";
---
<main>
  <h1>List of jurisdictions</h1>
  <ul>
    {
      jurisdictions.map((jurisdiction) => 
        <li>{jurisdiction.slug}</li>
      )  
    }
    <!-- {
      jurisdictions.forEach((jurisdiction) => {
        <li>Hello</li>
      })
    } -->
  </ul>
</main>