---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<!-- <div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div> -->
<!-- <div class="absolute top-0 z-[-2] h-screen w-screen rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]"></div> -->
<BaseLayout>
    <div class="mx-auto mt-32 max-w-5xl sm:mt-32 md:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg h-96 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
            <p>Hello World!</p>
            
            <!-- <div class="absolute top-0 -z-10 h-96 w-full bg-white">
                <div class="absolute bottom-auto left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[30%] translate-y-[20%] rounded-full bg-[rgba(173,109,244,0.5)] opacity-50 blur-[80px]">
                    <p>Hello</p>
                </div>
            </div> -->
            <!-- <div class="-z-10 h-96 [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]">
                
            </div> -->
            
        </div>
    </div>
</BaseLayout>