---
import { marked } from "marked";
import BaseLayout from '../layouts/BaseLayout.astro';
const mdContent = `
Terms of service
================

Effective September 2023

Galvix SaaS services agreement
------------------------------

Welcome to Galvix, the website and online services of Galvix, Inc. (“Galvix”). By accessing Galvix's services you are agreeing to this Galvix SaaS Services Agreement (“Agreement”) between Galvix, Inc., and the entity on whose behalf the individual accesses the Galvix service accepts this Agreement (“Customer”).  Galvix and Customer may be referred to herein collectively as the “Parties” or individually as a “Party”.  
  
We reserve the right, in our sole discretion, to make changes or modifications to this Agreement at any time and for any reason.  We will alert you about any changes by updating the “Last updated” date of this Agreement, and you waive any right to receive specific notice of each such change except where advance notice is required by law.  It is your responsibility to periodically review this Agreement to stay informed of updates.  You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Agreement by your continued use of the Services after the date such revised Agreement is posted.  

### 1\. Definitions

1.1 “**_Galvix IP_**” means the Platform Services, the Documentation, and any and all intellectual property provided to Customer or any Authorized User in connection with the foregoing. For the avoidance of doubt, Galvix IP includes Aggregated Data but does not include Customer Data.  
  
1.2 “**_Authorized User_**” means Customer’s employees, consultants, contractors, and agents (i) who are authorized by Customer to access and use the Platform Services under the rights granted to Customer pursuant to this Agreement; and (ii) for whom access to the Platform Services has been purchased pursuant to this Agreement.  
  
1.3 **_“Billable Sales”_** means sales subject to tax in a jurisdiction prior to the application of any statutory or buyer-specific exemptions, net of refunds or credits of billable sales issued by the customer during the current month.  
  
1.4 “**_Customer Data_**” means information, data, and other content, in any form or medium, that is submitted, posted, or otherwise transmitted by or on behalf of Customer or an Authorized User through the Platform Services.  
  
1.5 “**_Documentation_**” means Galvix’s end user documentation relating to the Platform Services.  
  
1.6 “**_Harmful Code_**” means any software, hardware, or other technology, device, or means, including any virus, worm, malware, or other malicious computer code, the purpose or effect of which is to permit unauthorized access to, or to destroy, disrupt, disable, distort, or otherwise harm or impede in any manner any (i) computer, software, firmware, hardware, system, or network; or (ii) any application or function of any of the foregoing or the security, integrity, confidentiality, or use of any data processed thereby.  
  
1.7 “**_Order Form_**” means an order form entered into by the Parties that incorporates this Agreement by reference.  
  
1.8 “**_Personal Information_**” means any information that, individually or in combination, does or can identify a specific individual or by or from which a specific individual may be identified, contacted, or located, including without limitation all data considered “personal data”, “personally identifiable information”, or something similar under applicable laws, rules, or regulations relating to data privacy.  
  
1.9 “**_Third-Party Products_**” means any third-party products provided with, integrated with, or incorporated into the Platform Services.  
  
1.10 “**_Usage Limitations_**” means the usage limitations set forth in this Agreement including without limitation any limitations on the number of Authorized Users (if any), and the applicable product, pricing, and support tiers.  
‍

### 2\. Access and use of platform services

**2.1 Responsibility**  
  
Customer is responsible for the acts of others utilizing its access to the Platform Services, including by not limited to Authorized Users, and will be held responsible for violations of the Platform Services by persons who gain access to the Platform Services using Customer’s account on the Platform Services (“**_Account_**”), shared access, or other through other means.  
  
**2.2 Provision of access**.  
  
Subject to compliance with the Agreement, Galvix will make available to Customer during the Term of the Agreement, on a non-exclusive, non-transferable (except in compliance with Section 11.8), and non-sublicensable basis, access to and use of the Platform Services and Documentation, solely for use by Authorized Users. Such use is limited to Customer’s internal business purposes in compliance with applicable laws, and the features and functionalities specified in the Order Form.    
  
**2.3 Use restrictions**  
  
Customer shall not at any time, directly or indirectly, and shall not permit any Authorized Users to: (i) copy, modify, or create derivative works of any Galvix IP, whether in whole or in part, including without limitation by automated or non-automated “scraping”; (ii) rent, lease, lend, sell, license, sublicense, assign, distribute, publish, transfer, or otherwise make available the Platform Services or Documentation to any third party; (iii) reverse engineer, disassemble, decompile, decode, adapt, or otherwise attempt to derive or gain access to any software component of the Platform Services, in whole or in part; (iv) collect or harvest any Personal Information from the Platform Services; (v) impersonate another person or otherwise misrepresent its affiliation with a person or entity, conduct fraud, hide or attempt to hide its identity; (vi) remove any proprietary notices from any Galvix IP; (vii) access or use any Galvix IP for purposes of competitive analysis of Galvix or the Platform Services, the development, provision, or use of a competing software service or product, or any other purpose that is to Galvix's detriment or commercial disadvantage; (viii) bypass or breach any security device or protection used by the Platform Services or access or use the Platform Services other than by an Authorized User through the use of valid access credentials; or (ix) input, upload, transmit, or otherwise provide to or through the Platform Services any information or materials that are unlawful or injurious, or that contain, transmit, or activate any Harmful Code.  
  
**2.4 Reservation of rights**  
  
Galvix reserves all rights not expressly granted to Customer in this Agreement. Except for the limited rights and licenses expressly granted under this Agreement, nothing in this Agreement grants, by implication, waiver, estoppel, or otherwise, to Customer or any third party any intellectual property rights or other right, title, or interest in or to the Galvix IP.  
  
**2.5 Suspension of platform services**  
  
Galvix may, directly or indirectly, suspend or otherwise deny Customer's, or any Authorized User's access to or use of all or any part of the Platform Services, without incurring any resulting obligation or liability, if: (a) Galvix receives a judicial or other governmental demand or order, subpoena, or law enforcement request to do so; or (b) Galvix believes, in its good faith and reasonable discretion, that: (i) Customer or any Authorized User is or has been, involved in any fraudulent, misleading, or unlawful activities relating to or in connection with any of the Platform Services; or (iii) this Agreement expires or is terminated.    
  
**2.6 Aggregated data**  
  
Notwithstanding anything to the contrary in this Agreement, Galvix may monitor Customer’s use of the Platform Services and collect and compile data and information related to or derived from Customer Data or Customer’s use of the Platform Services that is used by Galvix in an aggregate and anonymized manner, including to compile statistical and performance information related to the Platform Services (“Aggregated Data”). Customer agrees that Galvix may (i) make Aggregated Data available to third parties including its other customers in compliance with applicable law, and (ii) use Aggregated Data to produce results for Customer, to maintain, evaluate, develop and improve the Platform Services, for any other internal business purposes of Galvix, and to the extent and in the manner otherwise not prohibited under applicable law.  

### 3\. Customer responsibilities

**3.1 Third-party products**  
  
Galvix may from time to time make Third-Party Products available to Customer or Galvix may allow for certain Third-Party Products to be integrated with the Platform Services to allow for the transmission of Customer Data from such Third-Party Products into the Platform Services. For purposes of this Agreement, such Third-Party Products are subject to their own Terms of Service. If Customer does not agree to abide by the applicable terms for any such Third-Party Products, then Customer should not install or use such Third-Party Products. By authorizing Galvix to transmit Customer Data from Third-Party Products into the Platform Services, Customer represents and warrants to Galvix that it has all right, power, and authority to provide such authorization. By connecting its Account with a Third-Party Product, Customer gives Galvix permission to access and use Customer’s information from that Third-Party Product as permitted by the Terms of Service of that Third-Party Product, and to store Customer’s log-in credentials for that Third-Party Product.  
  
**3.2 Customer control and responsibility**  
  
Customer has and will retain sole responsibility for: (i) all Customer Data, including its content and use; (ii) all information, instructions, and materials provided by or on behalf of Customer or any Authorized User in connection with the Platform Services; (iii) Customer's information technology infrastructure, including computers, software, databases, electronic systems (including database management systems), and networks, whether operated directly by Customer or through the use of third-party services (“**_Customer Systems_**”); (iv) the security and use of Customer's and its Authorized Users' access credentials; and (v) all access to and use of the Platform Services directly or indirectly by or through the Customer Systems or the Customer’s or its Authorized Users' access credentials.  

### 4\. Fees, taxes and remittances

**4.1 Fees**  
  
Customer must pay all fees.  
  
**4.2 Platform usage fees**  
  
Customer shall pay Galvix the usage fees (“Fees”)on Customer’s Billable Sales. Any fees for usage will be calculated and charged to the Customer at the end of each month for transactions processed on the Platform. Unless otherwise required by law, Fees paid by Customer are non-refundable. Galvix does not waive this provision if Galvix elects to refund all or part of fees paid by a Customer on an ad hoc basis.  
  
**4.3 Subscription fees**  
  
Customer shall pay Galvix the fees (“Fees”) identified in the applicable Order Form for the packages and subscriptions purchased during the Order Term. Such fees will be due and payable upon execution of the Order Form consistent with Section 4.3 of the Agreement. Unless otherwise specified on the Order Form, following the initial Term indicated on the Order Form, Customer’s subscription to the Platform Services will automatically renew for an identical Term at the then-current subscription fee, unless either Party gives the other written notice of termination at least thirty days prior to the expiration of the then-current Platform Services term.  Unless otherwise set forth herein, Fees paid by Customer are non-refundable.  
  
**4.4 Payment method**  
  
Customer shall pay Galvix for all upfront Platform usage fees and subscription fees by ACH debit. Customer agrees and authorizes Galvix to debit Customer’s designated bank account for any usage fees as they become due. If Galvix is unable to collect fees due because of insufficient funds in the Customer’s bank account or for any other reason, Customer agrees to immediately pay the amount due plus any applicable exceptions processing fees, bank fees or charges for return items, plus interest at the rate of 1.5% per month, calculated daily and compounded monthly or, if lower, the highest rate permitted under applicable law, in addition to attorneys’ fees, court costs, and collection agency fees.  
  
**4.5 Taxes and government fees**  
  
All Fees and other amounts payable by Customer under this Agreement are exclusive of taxes and similar assessments. Customer is responsible for all sales, use, and excise taxes, and any other similar taxes, duties, and charges of any kind imposed by any federal, state, or local governmental or regulatory authority on any amounts payable by Customer hereunder, other than any taxes imposed on Galvix's income. To the extent that Galvix is required by law to pay any such taxes, duties, or other charges to any governmental or regulatory authority, Galvix may invoice Customer for such taxes, duties, or other charges and Customer will pay such invoiced amounts in accordance with this Agreement.  
  
**4.6 Remittances**  
  
Customer understands that through its use of Galvix's Platform Service, Galvix will process sales tax remittances as ACH entries (“Remittances”) on the Customer’s behalf through Galvix's partner bank (“Bank Partner”) and the NACHA system.

### 5\. Confidential information

**5.1 Definition**  
  
From time to time during the Term of the Agreement, either Party may disclose or make available to the other Party information about its business affairs, products, confidential intellectual property, trade secrets, third-party confidential information, and other sensitive or proprietary information, whether orally or in written, electronic, or other form or media that: (i) is marked, designated or otherwise identified as “confidential” or something similar at the time of disclosure or within a reasonable period of time thereafter; or (ii) would be considered confidential by a reasonable person given the nature of the information or the circumstances of its disclosure (collectively, “**_Confidential Information_**”). Except for Personal Information, Confidential Information does not include information that, at the time of disclosure is: (a) in the public domain; (b) known to the receiving Party at the time of disclosure; (c) rightfully obtained by the receiving Party on a non-confidential basis from a third party; or (d) independently developed by the receiving Party without use of, reference to, or reliance upon the disclosing Party’s Confidential Information.  
  
**5.2 Duty**  
  
The receiving Party shall not disclose the disclosing Party’s Confidential Information to any person or entity, except to the receiving Party’s employees, contractors, and agents who have a need to know the Confidential Information for the receiving Party to exercise its rights or perform its obligations hereunder (“**_Representatives_**”). The receiving Party will be responsible for all the acts and omissions of its Representatives as they relate to Confidential Information hereunder. Notwithstanding the foregoing, each Party may disclose Confidential Information to the limited extent required in order to comply with the order of a court or other governmental body, or as otherwise necessary to comply with applicable law, provided that the Party making the disclosure pursuant to the order shall first have given timely written notice to the other Party and made a reasonable effort to obtain a protective order.  
  
**5.3 Return of materials: Effects of termination/expiration**  
  
On the expiration or termination of the Agreement, the receiving Party shall promptly return to the disclosing Party all copies, whether in written, electronic, or other form or media, of the disclosing Party’s Confidential Information, or destroy all such copies and, upon request, certify in writing to the disclosing Party that such Confidential Information has been destroyed. Each Party’s obligations of non-use and non-disclosure with regard to Confidential Information are effective as of the Effective Date and will expire three (3) years from the date of termination or expiration of this Agreement; provided, however, with respect to any Confidential Information that constitutes a trade secret (as determined under applicable law), such obligations of non-disclosure will survive the termination or expiration of this Agreement for as long as such Confidential Information remains subject to trade secret protection under applicable law.

### 6\. Intellectual property ownership

**6.1 Galvix IP**  
  
Customer acknowledges that, as between Customer and Galvix, Galvix owns all right, title, and interest, including all intellectual property rights, in and to the Galvix IP and, with respect to Third-Party Products, the applicable third-party providers own all right, title, and interest, including all intellectual property rights, in and to the Third-Party Products.  
  
**6.2 Customer data**  
  
Galvix acknowledges that, as between Galvix and Customer, Customer owns all right, title, and interest, including all intellectual property rights, in and to the Customer Data. Customer hereby grants to Galvix a non-exclusive, royalty-free, worldwide license to reproduce, distribute, and otherwise use and display the Customer Data and perform all acts with respect to the Customer Data as may be necessary for Galvix to provide the Platform Services to Customer, and a non-exclusive, perpetual, irrevocable, royalty-free, worldwide license to reproduce, distribute, modify, and otherwise use and display Customer Data incorporated within the Aggregated Data. Customer may export the Customer Data at any time through the features and functionalities made available via the Platform Services.  
  
**6.3 Feedback**  
  
If Customer or any of its employees or contractors suggests or recommends changes to the Galvix IP or the Platform Services or any comments, questions, suggestions, or the like (“_Feedback_”), Galvix is free to use such Feedback. Customer hereby assigns to Galvix on Customer's behalf, and on behalf of its employees, contractors and/or agents, all right, title, and interest in, and Galvix is free to use, without any attribution or compensation, for any purpose whatsoever.

### 7\. Warranty disclaimer

**7.1 Warranty disclaimer**  
  
EXCEPT AS EXPRESSLY PROVIDED IN THIS AGREEMENT, THE GALVIX IP IS PROVIDED “AS IS” AND GALVIX HEREBY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE. GALVIX SPECIFICALLY DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND ALL WARRANTIES ARISING FROM COURSE OF DEALING, USAGE, OR TRADE PRACTICE. GALVIX MAKES NO WARRANTY OF ANY KIND THAT THE GALVIX IP, OR ANY PRODUCTS OR RESULTS OF THE USE THEREOF, WILL MEET CUSTOMER’S OR ANY OTHER PERSON’S REQUIREMENTS, OPERATE WITHOUT INTERRUPTION, OR ACHIEVE ANY INTENDED RESULT. CUSTOMER ACKNOWLEDGES AND AGREES THAT GALVIX DOES NOT PROVIDE LEGAL OR PROFESSIONAL TAX OPINIONS OR LEGAL OR MANAGEMENT ADVICE. CUSTOMER AGREES THAT CUSTOMER USES AND RELIES UPON THE PLATFORM SERVICES, AT CUSTOMER’S OWN RISK AND ACKNOWLEDGES THAT GALVIX CANNOT GUARANTEE THAT ANY DATA OR INFORMATION CONTAINED IN THE PLATFORM SERVICES OR ON ANY GALVIX WEBSITE IS COMPLETE, ACCURATE, OR CURRENT.

### 8\. Indemnification.

**8.1 Galvix indemnification**  
  
a) Galvix shall defend, indemnify, and hold harmless Customer from and against any and all losses, damages, liabilities, costs (including reasonable attorneys’ fees) (“_Losses_”) incurred by Customer resulting from any third-party claim, suit, action, or proceeding (“_Third-Party Claim_”) that the Platform Services, or any use of the Platform Services in accordance with this Agreement, infringes or misappropriates such third party’s U.S. copyrights or trade secrets; provided that Customer promptly notifies Galvix in writing of the claim, cooperates with Galvix, and allows Galvix sole authority to control the defense and settlement of such claim.  
  
b) If such a claim is made or appears possible, Customer agrees to permit Galvix, at Galvix sole discretion: to (i) modify or replace the Platform Services, or component or part thereof, to make it non-infringing; or (ii) obtain the right for Customer to continue use. If Galvix determines that neither alternative is reasonably commercially available, Galvix may terminate this Agreement, in its entirety or with respect to the affected component or part, effective immediately on written notice to Customer.  If Galvix is unable to (i) satisfactorily modify or replace the Platform Services, or component or part thereof, to make it non-infringing; or (ii) obtain the right for Customer to continue use, Customer may terminate the contract with a proportional reimbursement for any remaining months of pre-paid services and/or fees.c) This Section 8.1 will not apply to the extent that the alleged infringement arises from: (i) use of the Platform Services in combination with data, software, hardware, equipment, or technology not provided by Galvix or authorized by Galvix in writing; (ii) modifications to the Platform Services not made by Galvix; (iii) Customer Data; or (iv) Third-Party Products.  
  
**8.2 Customer indemnification**  
  
Customer shall defend, indemnify, hold harmless, Galvix from (i) and against any Losses resulting from any Third-Party Claim that the Customer Data, or any use of the Customer Data in accordance with this Agreement, infringes or misappropriates such third party’s U.S. intellectual property or other rights and Customer’s violation of any laws; in each case provided that Customer may not settle any Third-Party Claim against Galvix unless Galvix consents to such settlement, and further provided that Galvix will have the right, at its option, to defend itself against any such Third-Party Claim or to participate in the defense thereof by counsel of its own choice; and (ii) any failure to comply with the obligations of section 4.5; in each case provided that Customer may not settle any Third-Party Claim against Galvix unless Galvix consents to such settlement, and further provided that Galvix will have the right, at its option, to defend itself against any such Third-Party Claim or to participate in the defense thereof by counsel of its own choice.  
  
**8.3 Sole remedy**  
  
THIS SECTION 8 SETS FORTH CUSTOMER’S SOLE REMEDIES AND GALVIX'S SOLE LIABILITY AND OBLIGATION FOR ANY ACTUAL, THREATENED, OR ALLEGED CLAIMS THAT THE PLATFORM SERVICES INFRINGE, MISAPPROPRIATE, OR OTHERWISE VIOLATE ANY INTELLECTUAL PROPERTY RIGHTS OF ANY THIRD PARTY.

### 9\. Limitations of liability

EXCEPT FOR: (I) A PARTY’S BREACH OF ITS CONFIDENTIALITY OBLIGATIONS; (II) A PARTY’S INDEMNITY OBLIGATIONS; OR (III) A PARTY’S GROSS NEGLIGENCE, FRAUD, OR WILLFUL MISCONDUCT (“**_Excluded Liabilities_**”), (A) IN NO EVENT WILL EITHER PARTY BE LIABLE UNDER OR IN CONNECTION WITH THIS AGREEMENT UNDER ANY LEGAL OR EQUITABLE THEORY, INCLUDING BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, AND OTHERWISE, FOR ANY: (1) CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL, OR PUNITIVE DAMAGES OR LOST PROFITS; OR (2) LOSS OF GOODWILL OR REPUTATION, IN EACH CASE REGARDLESS OF WHETHER SUCH PARTY WAS ADVISED OF THE POSSIBILITY OF SUCH LOSSES OR DAMAGES OR SUCH LOSSES OR DAMAGES WERE OTHERWISE FORESEEABLE; AND (B) IN NO EVENT WILL EITHER PARTY’S AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT UNDER ANY LEGAL OR EQUITABLE THEORY, INCLUDING BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, AND OTHERWISE EXCEED THE TOTAL FEES PAID AND/OR PAYABLE TO GALVIX UNDER THIS AGREEMENT IN THE TWELVE (12) MONTHS IMMEDIATELY PRECEDING THE CLAIM; PROVIDED THAT, NOTWITHSTANDING THE FOREGOING, EACH PARTY’S AGGREGATE LIABILITY ARISING OUT OF OR RELATING TO ANY EXCLUDED LIABILITIES WILL NOT EXCEED THE TOTAL FEES PAID AND/OR PAYABLE TO GALVIX BY CUSTOMER UNDER THIS AGREEMENT IN THE TWELVE (12) MONTHS IMMEDIATELY PRECEDING THE CLAIM.

### 10\. Term and termination

**10.1 Term**  
  
The term of this Agreement begins on the Effective Date and, will continue in effect until terminated by either party pursuant to Section 10.2 (“Term”).  The term of each Order Form shall be as set forth therein (“Order Term”).  
  
**10.2 Termination**  
  
In addition to any other express termination right set forth in this Agreement:a) either Party may terminate this Agreement, effective on written notice to the other Party, if the other Party materially breaches this Agreement, and such breach: (i) is incapable of cure; or (ii) being capable of cure, remains uncured thirty (30) calendar days after the non-breaching Party provides the breaching Party with written notice of such breach; orb) either Party may terminate this Agreement, effective immediately upon written notice to the other Party, if the other Party: (i) becomes insolvent or is generally unable to pay, or fails to pay, its debts as they become due; (ii) files or has filed against it, a petition for voluntary or involuntary bankruptcy or otherwise becomes subject, voluntarily or involuntarily, to any proceeding under any domestic or foreign bankruptcy or insolvency law; (iii) makes or seeks to make a general assignment for the benefit of its creditors; or (iv) applies for or has appointed a receiver, trustee, custodian, or similar agent appointed by order of any court of competent jurisdiction to take charge of or sell any material portion of its property or business.c) Customer may terminate this agreement with 30 days written notice to Galvix.  
  
**10.3 Effect of expiration or termination**  
  
Upon expiration or earlier termination of this Agreement, Customer shall immediately discontinue use of the Galvix IP and, without limiting Customer’s obligations under Section 4, Customer shall delete, destroy, or return all copies of the Galvix IP. No expiration or termination will affect Customer’s obligation to pay all Fees that may have become due before such expiration or termination.10.4 Survival.This Section 10.4 and Sections 1, 4, 5, 6, 7, 8, 9, 10.3, and 11 survive any termination or expiration of this Agreement. No other provisions of this Agreement survive the expiration or earlier termination of this Agreement.

### 11\. Miscellaneous

**11.1 Entire agreement**  
  
This Agreement, together with any Order Forms and other documents incorporated herein by reference, constitutes the sole and entire agreement of the Parties with respect to the subject matter of this Agreement and supersedes all prior and contemporaneous understandings, agreements, and representations and warranties, both written and oral, with respect to such subject matter. In the event of any inconsistency between the statements made in the body of this Agreement, the related Exhibits, an Order Form, and any other documents incorporated herein by reference, the following order of precedence governs: (i) the applicable Order Form, (ii) this Agreement; and (iii) any other documents incorporated herein by reference.  
  
**11.2 Notices**  
  
All notices, requests, consents, claims, demands, waivers, and other communications hereunder (each, a “**_Notice_**”) must be in writing and addressed to the Parties at the addresses set forth on the first page of this Agreement or as identified on the Order Form (or to such other address that may be designated by the Party giving Notice from time to time in accordance with this Section). All Notices must be delivered by personal delivery or nationally recognized signed for on delivery courier. Except as otherwise provided in this Agreement, a Notice is effective upon proof of delivery or receipt by the receiving Party.  
  
**11.3 Force majeure**  
  
In no event shall either Party be liable to the other Party, or be deemed to have breached this Agreement, for any failure or delay in performing its obligations under this Agreement, if and to the extent such failure or delay is caused by any circumstances beyond such Party’s reasonable control, including but not limited to acts of God, flood, fire, earthquake, explosion, war, terrorism, invasion, riot or other civil unrest, strikes, plague, labor stoppages or slowdowns or other industrial disturbances, or passage of law or any action taken by a governmental or public authority, including imposing an embargo.  
  
**11.4 Amendment and modification  
**  
No amendment to or modification of this Agreement is effective unless it is in writing and signed by an authorized representative of each Party. No waiver by any Party of any of the provisions hereof is effective unless explicitly set forth in writing and signed by the Party so waiving.  
  
**11.5 Waiver**  
  
No failure or delay by either Party in exercising any right or remedy available to it in connection with this Agreement will constitute a waiver of such right or remedy. No waiver under this Agreement will be effective unless made in writing and signed by an authorized representative of the Party granting the waiver.  
  
**11.6 Severability**  
  
If any provision of this Agreement is invalid, illegal, or unenforceable in any jurisdiction, such invalidity, illegality, or unenforceability will not affect any other term or provision of this Agreement or invalidate or render unenforceable such term or provision in any other jurisdiction.  
  
**11.7 Governing law: Submission to jurisdiction**  
  
This Agreement is governed by and construed in accordance with the internal laws of the State of Delaware without giving effect to any choice or conflict of law provision or rule that would require or permit the application of the laws of any jurisdiction other than those of the State of Delaware. Any legal suit, action, or proceeding arising out of or related to this Agreement or the licenses granted hereunder must be instituted in the federal courts of the United States or the courts of the State of Delaware and each Party irrevocably submits to the exclusive jurisdiction of such courts in any such suit, action, or proceeding.  
  
**11.8 Assignment**  
  
Customer may not assign any of its rights or delegate any of its obligations hereunder, in each case whether voluntarily, involuntarily, by operation of law or otherwise, without the prior written consent of Galvix. Any purported assignment or delegation in violation of this Section will be null and void. No assignment or delegation will relieve the assigning or delegating Party of any of its obligations hereunder. This Agreement is binding upon and inures to the benefit of the Parties and their respective permitted successors and assigns.  
  
**11.9 Export regulation**  
  
The Platform Services utilize software and technology that may be subject to U.S. export control laws, including the U.S. Export Administration Act and its associated regulations. Customer shall not, directly or indirectly, export, re-export, or release the Platform Services or the underlying software or technology to, or make the Platform Services or the underlying software or technology accessible from, any jurisdiction or country to which export, re-export, or release is prohibited by law, rule, or regulation. Customer shall comply with all applicable federal laws, regulations, and rules, and complete all required undertakings.  
  
**11.10 Equitable relief**  
  
Each Party acknowledges and agrees that a breach or threatened breach by such Party of any of its obligations under Section 5 or, in the case of Customer, Section 2.3, may cause the other Party irreparable harm for which monetary damages would not be an adequate remedy and agrees that, in the event of such breach or threatened breach, the other Party will be entitled to equitable relief, including an injunction and specific performance. Such remedies are not exclusive and are in addition to all other remedies that may be available at law, in equity or otherwise.  
  
**11.11 Publicity**  
  
Galvix may identify Customer as a user of the Platform Services and may use Customer’s name, logo, and other trademarks in Galvix customer list, press releases, blog posts, advertisements, and website (and all use thereof and goodwill arising therefrom shall inure to the sole and exclusive benefit of Customer). If Customer would not like Galvix to exercise the foregoing publicity rights, Customer must email hello@galvix.com stating that it does not wish to be used as a reference.

`;
---
<BaseLayout>
    <div class="bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <p class="text-base font-semibold leading-7 text-indigo-600">Terms and Conditions</p>
            <article class=" prose max-w-full w-full my-4">
                <div class="rich-text" set:html={marked.parse(mdContent)}  />
            </article>
        </div>
    </div>
</BaseLayout>

