---
import { marked } from "marked";
const {article} = Astro.props;
const title = article.attributes.title;
const summary = article.attributes.summary;
const content = article.attributes.content;
---
<div class="bg-white px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
        <p class="text-base font-semibold leading-7 text-indigo-600">Article</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{title}</h1>
        <p class="mt-6 text-xl leading-8">{summary}</p>
        <article class=" prose max-w-full w-full my-4">
            <div class="rich-text" set:html={marked.parse(content)}  />
        </article>
    </div>
</div>