---
import BaseLayout from "../../layouts/BaseLayout.astro";
const {
    states
} = Astro.props;
const colors = {};
const hoverColors = {};
const labels = {};
const redirectUrls = {};
if(states.data && states.data.length > 0) {
    states.data.forEach(function (state) {
      let myLabel = "<div style=\"width: 250px; margin: auto; padding: 8px 8px 8px 8px;\">";
      myLabel += "<b>" + state.attributes.name + "</b>";
      if(state.attributes.fixedTax > 0) { // state tax exists
        colors[state.attributes.code.toLocaleLowerCase()] = "#dbeafe";
        hoverColors[state.attributes.code.toLocaleLowerCase()] = "#60a5fa";

        myLabel += "<br><br>Statewide sales tax rate: " + (state.attributes.fixedTax * 100) + "%";
      } else if (state.attributes.variableTaxMax > 0) { // local tax exists
        colors[state.attributes.code.toLocaleLowerCase()] = "#ffedd5";
        hoverColors[state.attributes.code.toLocaleLowerCase()] = "#fb923c";
        myLabel += "<br><br>No statewide tax but some areas levy local tax";
      } else { // no tax exists
        colors[state.attributes.code.toLocaleLowerCase()] = "#f3f4f6";
        hoverColors[state.attributes.code.toLocaleLowerCase()] = "#9ca3af";
        myLabel += "<br><br>No sales tax";
      }
      myLabel += "<br><br><p>Click to view the " + state.attributes.name + " sales tax guide and use the sales tax calculator to determine local rates</p></div>"; 
      labels[state.attributes.code.toLocaleLowerCase()] = myLabel;
      redirectUrls[state.attributes.code.toLocaleLowerCase()] = "/guide/" + state.attributes.slug + "-sales-tax";
    });
}
---
<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link href="/jqvmap/jqvmap.css" media="screen" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/jqvmap/jquery.vmap.js"></script>
<script type="text/javascript" src="/jqvmap/maps/jquery.vmap.usa.js" charset="utf-8"></script>
<script define:vars={{ colors , labels, hoverColors, redirectUrls }}>
  jQuery(document).ready(function () {
    jQuery('#vmap').vectorMap({
      map: 'usa_en',
      backgroundColor: null,
      enableZoom: false,
      color: '#ffffff',
      borderColor: null,
      borderOpacity: 0.25,
      showTooltip: true,
      selectedColor: null,
      hoverColors: hoverColors,
      colors: colors,
      onLabelShow: function(event, label, code) {
        label.html(labels[code]);
      },
      onRegionClick: function(event, code, region){
        event.preventDefault();
        if(code in redirectUrls) {
          window.location.href = redirectUrls[code];
        }
      }
    });
  });
</script>
<div class="grid grid-cols-1 gap-4 justify-center">
  <!-- map -->
  <div id="vmap" class="h-96"></div>
  <!-- legend -->
  <div class="p-4 mx-auto grid grid-cols-1 lg:grid-cols-4 gap-2">
    <div class="flex">
      <div class="w-4 h-4 bg-blue-100 mr-2"></div>
      <span class="text-black text-sm">Statewide sales tax</span>
    </div>
    <div class="flex col-span-2">
      <div class="w-4 h-4 bg-orange-100 mr-2"></div>
      <span class="text-black text-sm">No statewide tax but some areas levy local tax</span>
    </div>
    <div class="flex">
      <div class="w-4 h-4 bg-gray-100 mr-2"></div>
      <span class="text-black text-sm">No sales tax</span>
    </div>
  </div>
</div>