---
import Footer from "../components/Footer.astro";
import Header from "../components/Header";

const { title, metaTitle, metaDescription } = Astro.props;
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title ? title : 'Default Title'}</title>
  <meta name="title" content={metaTitle ? metaTitle : 'Default Meta Title'} />
  <meta name="description" content={metaDescription ? metaDescription : 'Default Meta Description'} />
</head>
<body>
    <Header/>
  <slot />
  <Footer />
</body>
</html>
